
@media screen and ( max-width: 768px ) {
    
    .content-register-form {
        width: 100% !important;
    }

    #btn-register{
        width: 100% !important;
    }

    #btn-google{
        width: 100% !important;
    }

}

    