.fa-paper-plane{
font-size: 10rem;
margin: 22px;
color: #6b53f2;
}

.banner-pricing {
    padding: 20px;
    margin: 7rem 0 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: 200;
}

.banner-pricing h2 {
    font-size: 24px; /* Tamaño del título */
    color: #333; /* Color del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.banner-pricing p {
    font-size: 18px; /* Tamaño del texto */
    color: #666; /* Color del texto */
    line-height: 1.6; /* Espacio entre líneas de texto */
    font-weight: 200;
    font-family: sans-serif;
}

.banner-pricing p strong {
    color: #333; /* Color del texto en negrita */
}

h2.title-section{
    font-size: 1.6rem;
}

h3.title-section{
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .img-fluid{
        width: 45%;
    }
    
    .selectType > ul li {
        min-width: 5rem;
    }

    header{
        z-index: 2 !important;
    }

    .shearching-input{
        font-size: 1rem !important;
    }

    .page-footer{
        margin-top: 4rem;
    }

}